<nav class="navbar navbar-expand navbar-light bg-light">
  <a class="navbar-brand">{{pageTitle}}</a>
  <ul class="nav nav-pills">
    <li><a class="nav-link" routerLinkActive = 'active' [routerLink] = "['/welcome']">Home</a></li>
    <li><a class="nav-link" routerLinkActive='active' [routerLink] = "['/foods']">Food List</a></li>
    <li><a class="nav-link" routerLinkActive='active' [routerLink] = "['/food/create']">New Food</a></li>
  </ul>
</nav>

<div class="container content">
  <router-outlet></router-outlet>
</div>
